.section-about {
    .image {
        img {
            width: 100%;
            height: auto;
        }

        .about-box {
            font-size: 1.1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 21rem;
            background-color: rgba($cyan, 0.9);
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            outline: 1px solid $cyan;
            outline-offset: 20px;
            z-index: 1;
        }
        
        &:hover .overlay {
            opacity: 1;
        }

        &:hover .about-box {
            visibility: hidden;
        }
    }
    
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .6s ease;
        background-color: rgba($cyan, 0.7);
        z-index: 2;

        .overflow-hidden {
            height: 35rem;
        }

        .detail {
            font-size: 1rem;
        }
    }

    #text {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

@include media-breakpoint-only (xs) {
    .section-about {
        .image {
            .about-box {
                font-size: 13px;
                width: 15rem;
                outline-offset: 15px;
            }
        }
    }
}