.section-video {
    position: relative;
    height: 91vh;
    overflow: hidden;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.3;
        z-index: 1;
    }
    
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        object-fit: cover;
    }

    .container {
        position: relative;
        z-index: 2;
        .image {
            height: 110px;
            img {
                max-height: 100%;
                max-width: 100%;
                width: auto;
            }
        }
    
        .btn-lg {
            height: 3.5rem;
            line-height: 2;
        }
    }
}

@include media-breakpoint-down (sm) {
    .section-video {
        height: 70vh;
    }
}