.contact {
    hr {
        width: 27rem;
        border-top: 1px solid rgba(#B2B2B2, 1);
        margin-bottom: 1.5rem;
    }

    .btn-send {
        width: 180px;
        height: 53px;
    }

    .map {
        height: 60vh;
        min-width: 100%;
    }
}

@include media-breakpoint-down (sm) {
    .contact {
        hr {
            width: 100%;
        }
    }
}