.tour-detail {
    position: relative;

    ul {
        margin-bottom: 0;
        // padding-inline-start: 32px;
    }

    .title {
        border-bottom: 2px solid;
    }
    
    .image {
        .header {
            height: 10.625rem;
        }

        .centered {
            font-size: 1.0625rem;
        }

        .bg-cover:hover {
            opacity: 0.5;
        }
    }
}

@include media-breakpoint-down (lg) {
    .tour-detail {
        .image {
            .header {
                height: 12.1875rem;
            }
        }
    }
}

@include media-breakpoint-down (sm) {
    .tour-detail {

        .image {
            .centered {
                font-size: 1.25rem;
            }
        }
    }
}