.posts-detail {
    .title {
        border-bottom: 2px solid;
    }
    
    .image {
        .header {
            height: 10.625rem;
        }

        .centered {
            font-size: 1.0625rem;
        }

        .bg-cover:hover {
            opacity: 0.5;
        }
    }
}

@include media-breakpoint-down (lg) {
    .posts-detail {
        .image {
            .header {
                height: 12.1875rem;
            }
        }
    }
}

@include media-breakpoint-down (sm) {
    .posts-detail {
        h1 {
            font-size: 1.5625rem;
        }

        .image {
            .centered {
                font-size: 1.25rem;
            }
        }
    }
}