.font-weight-thin {
    font-weight: 100!important;
}

.font-weight-light {
    font-weight: 300!important;
}

.font-weight-medium {
    font-weight: 500!important;
}

.font-weight-black {
    font-weight: 900!important;
}