@import 'web/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import '~flickity/dist/flickity.min.css';

// *SASS File*
@import 'web/navbar';
@import 'web/footer';

// Components
@import 'web/components/card';

// Home
@import 'web/home/video';
@import 'web/home/images';
@import 'web/home/about';

// Category
@import 'web/category/post';

// Content
@import 'web/content/detail';

// Tour
@import 'web/tour/tours';

// Checkout
@import 'web/checkout/checkout';

// Contact
@import 'web/contact/contact';

@font-face{
    font-family: 'Open Sans';
    src:url(fonts/opensans/OpenSans-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src:url(fonts/opensans/OpenSans-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Open Sans';
    src:url(fonts/opensans/OpenSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src:url(fonts/opensans/OpenSans-RegularItalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Open Sans';
    src:url(fonts/opensans/OpenSans-SemiBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src:url(fonts/opensans/OpenSans-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src:url(fonts/opensans/OpenSans-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

.font-weight-semi-bold {
    font-weight: 600 !important;
}

body {
    background-color: $body-bg;
}

.container {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5)
}

.header {
    position: relative;
    height: 91vh;
}
    
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.875rem;
}

.font35px {
    font-size: 2.1875rem;
}

.font18px {
    font-size: 1.125rem;
}

.font16px {
    font-size: 1rem;
}

.font14px {
    font-size: 0.875rem;
}

.is-selected {
    .card {
        border: 6px solid $cyan;

        .image {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            overflow: unset;
            .card-img-top {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
    }
}

// MODAL
.modal {
    padding-right: 0 !important;
    width: 101%;

    .modal-dialog {
        max-width: 100%;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        display: flex;

        .modal-content {
            background-color: $body-bg;

            .modal-body {

                .btn-info {
                    color: #00A99D;
                    background-color: #fff;

                    &:hover {
                        color: #fff !important;
                        background-color: #008379 !important;
                    }
                }

                .carousel {
                    margin-right: -15px;
                    margin-left: -15px;
                    z-index: 1055;
                    
                    .card-modal {
                        min-height: 100%;
                    }

                    .btn-carousel {
                        height: 88px;
                        width: 170px;
                    }

                    .flickity-button {
                        background: $cyan;
                        color: white;
                    }

                    .flickity-prev-next-button {
                        width: 30px;
                        height: 30px;
                    }

                    .flickity-prev-next-button.next {
                        right: -2px;
                    }

                    .flickity-prev-next-button.previous {
                        left: -2px;
                    }
                }

                .bg-secondary {
                    background-color: #CCCCCC !important;
                }

                .form-control {
                    flex: none;
                    width: 2.6rem;
                }

                .total-col {
                    .btn-info {
                        color: white;
                        background-color: #00A99D;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down (sm) {
    .bottom-left {
        font-size: 1.2rem;
    }

    .header {
        height: 51vh;
    }
}