// FOOTER

.footer {
    background-color: #09616D;

    li {
        margin-bottom: 0.5rem;
        list-style: none;
        
        a {
            color: white;

            &:hover {
                color: $yellow;
                text-decoration: none;
            }
        }
    }

    li:first-child {
        font-size: 1rem;
    }

    .copyright {
        border-top: 1px solid #C1CAD2
    }
}
