// SECTION NAVBAR

.navbar {
    img {
        height: 65px;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 169, 157, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@include media-breakpoint-up (lg) {
    ul {
        .nav-link {
            padding-bottom: 2rem;
            border-bottom: 3px solid transparent;
        }

        .nav-link:hover,
        .nav-link:active {
            border-bottom: 3px solid $cyan;
        }
    }
}

@include media-breakpoint-down (md) {
    .navbar {
        img {
            height: 40px;
        }
    }
}