// Body
$body-bg: #F8F9FA;
$gray-bg: #E5E5E5;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$red: #E81515;
$cyan: #00A99D;

$text-muted: #b2b2b2 !default;
$light: #E5E5E5 !default;

$navbar-light-hover-color: rgba($cyan, 1) !default;
$navbar-light-color: rgba(#707070, 1) !default;

$dropdown-link-color: #707070 !default;
$dropdown-link-hover-color: rgba($cyan, 1) !default;