.checkout {

    hr {
        width: 72px;
        border-top: 2px solid rgba(0, 0, 0, 1);
        margin-bottom: 3rem;
    }

    .sex {
        height: 37.04px;
        border: 1px solid #ced4da;
        line-height: 1.6;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
    }

    .btn-lg {
        width: 153px;
        height: 47px;
    }
}