.card-title {
    color: #4A4A4A;

    &:hover {
        text-decoration: none;
        color: $cyan;
    }
}

.tour {

    &:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        transform: translateY(-5px);
    }

    h5 {
        margin-bottom: 0;
    }

    a:hover {
        text-decoration: none;
    }

    .image {
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        overflow: hidden;
        height: 219px;

        .card-img-top {
            height: 100%;
            width: 100%;
        }
    }

    .desc {
        ul {
            margin-bottom: 0;
            padding-inline-start: 15px;

            li {
                font-size: 0.8rem;
            }
        }
    }

    .detail {
        color: #4A4A4A;

        &:hover {
            text-decoration: none;
            color: $cyan;
        }
    }

    .btn-info {
        line-height: 2rem;
    }

    .bot {
        padding: 0 20px 20px;
        .times {
            overflow: hidden;
            height: 7rem;
        }
    }
}

.page-link:hover {
    color: white;
    text-decoration: none;
    background-color: $cyan;
}