.post-section {
    .card {
        a:hover {
            text-decoration: none;
        }

        .card-title {
            overflow: hidden;
            max-height: 2.7rem;

            &:hover {
                color: $cyan;
            }
        }

        .summary {
            overflow: hidden;
            max-height: 8.5rem;
        }
    }
}

@include media-breakpoint-down (sm) {
    .post-section {
        h1 {
            font-size: 1.5625rem;
        }
    }
}